.wrap {
    min-height: 100vh;
    background: url('../../assets/images/br_login.jpg') center no-repeat;
    background-size: cover;
    .wrapper {
        display: flex;
        flex-wrap: wrap;

        .wrap__form {
            height: 100vh;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .description {
            height: 100vh;
            padding: 0 26px;
            background-color: #37373c;
            display: flex;
            align-items: center;
            flex-direction: column;

            .youtobe {
                margin-top: 40px;
                display: flex;
                justify-content: center;
                width: 100%;
                .video {
                    border-radius: 4px;
                    width: 460px;
                    height: 258px;
                }
            }

            .content {
                color: #fff;

                h2 {
                    text-align: center;
                    width: 300px;
                    font-weight: 500;
                    margin: 20px auto;
                    font-size: 42px;
                    line-height: 1.2;
                }

                p {
                    text-align: center;
                    max-width: 425px;
                    font-synthesis: none;
                    font-size: 16px;
                    font-weight: 400;
                    line-height: 1.5;
                }

                a {
                    text-align: center;
                    margin-top: 20px;
                    width: 170px;
                    display: block;
                    margin: 20px auto 30px;
                    font-size: 14px !important;
                }
            }
        }
    }
}
