.header-content {
    padding-left: 110px;
    padding-top: 120px;
    background: linear-gradient(to right, rgb(14 14 14), rgb(34 3 3 / 74%), rgb(120 92 117 / 99%));
    display: inline-block;
    height: 100vh;
    min-width: 100%;
    display: flex;
    .header-img {
        display: inline-block;
        width: 700px;
        margin-left: 100px;
        margin-top: 40px;

        img {
            width: 100%;
            display: inline-block;
            background-color: transparent;
            opacity: 0;
            transform: scale(1.2);
            animation-delay: 0.4s;
        }
    }

    .title2 {
        font-size: 16px;
        color: #fff;
        opacity: 0;
        transform: scale(1.2);
    }

    .title1 {
        font-size: 30px;
        color: #fff;
        max-width: 600px;
        margin: 20px 0;
        opacity: 0;
        transform: scale(1.2);
    }

    .content {
        font-size: 14px;
        display: block;
        color: #fff;
        max-width: 600px;
        opacity: 0;
        transform: scale(1.2);
    }
}
