.wrap {
    --ig-separator: 219, 219, 219;
    --ig-primary-text: 38, 38, 38;
    --ig-secondary-background: 250, 250, 250;
    width: 340px;
    height: 100vh;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    border-right: 1px solid rgb(var(--ig-separator));
    background-color: #fff;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    .title-main {
        padding: 40px 0 0 20px;
        font-size: 26px;
        font-weight: 800;
        opacity: 0.7;
        color: #000;
    }

    .controler {
        padding-top: 60px;
        padding-left: 10px;
        padding-right: 10px;
        width: 100%;
        list-style: none;

        .item-link {
            transition: all 0.3s linear;
            border-radius: 20px;

            &:hover {
                cursor: pointer;
                background-color: rgb(var(--ig-secondary-background));
            }

            &:last-child {
                position: absolute;
                bottom: 20px;
                left: 10px;
                right: 10px;
            }
            a {
                padding: 12px 24px;
                width: 100%;
                height: 100%;
                text-decoration: none;
                display: flex;
                align-items: center;
                justify-content: flex-start;
                .icon {
                    color: #000;
                }

                .title {
                    font-size: 14px;
                    margin: 0 24px;
                    color: rgb(var(--ig-primary-text));
                }
            }

            span {
                padding: 12px 24px;
                text-decoration: none;
                display: flex;
                align-items: center;
                width: 100%;
                justify-content: flex-start;
                .icon {
                    color: #000;
                }

                .title {
                    font-size: 14px;
                    margin: 0 24px;
                    color: rgb(var(--ig-primary-text));
                }
            }
        }
    }
}
