.wrap {
    .desc {
        padding: 8px 12px;
        font-size: 14px;
        color: #383838;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        opacity: 1;
        font-weight: 500;
        border: 1px solid rgb(80, 58, 58);

        .btn {
            min-width: 60px;
            font-size: 14px;
            margin-right: 12px;
            padding: 2px 8px !important;
        }
    }
}
