.wrap {
    background-color: var(--background-color);
    min-height: 100vh;

    .content {
        padding: 40px 0 0 0;

        .title {
            font-size: 18px;
            color: var(--text-color);
            padding: 12px;

            .select {
                font-size: 14px;
            }
        }

        .table {
            font-size: 14px;
            padding: 12px 0 0 0;
            border-top: none;

            .name-work {
                padding: 12px 24px;
                text-align: center;
            }

            .table-form {
                border: 1px solid #ccc;

                th {
                    padding-top: 10px !important;
                }
                td {
                    padding-top: 10px !important;
                }
            }
        }
    }
}
