@import 'normalize.css';

:root {
    --primary-color: rgb(27, 61, 254);
    --text-color: #495057;
}

html {
    font-size: 62.5%;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 1.6rem;
    line-height: 1.5;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
