@import 'normalize.css';
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800&display=swap');
:root {
    --primary-color: rgb(27, 61, 254);
    --text-color: #495057;
    --background-color: #f1f4f6;
    --text-color-user: #f18624;
}

html {
    font-size: 62.5%;
}

body {
    font-family: 'Inter', sans-serif !important;
    font-size: 1.6rem;
    line-height: 1.5;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.fadeIn {
    animation-name: fade;
    animation-duration: 1s;

    @keyframes fade {
        from {
            opacity: 0;
        }
        to {
            opacity: 1;
        }
    }
}

// run dong
.pulse {
    animation-name: pulse;
    animation-duration: 1s;
}

@keyframes pulse {
    from {
        transform: scale(1.2);
        opacity: 0;
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}
