@import 'normalize.css';
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800&display=swap');
:root {
    --primary-color: rgb(27, 61, 254);
    --text-color: #495057;
    --background-color: #f1f4f6;
    --text-color-user: #f18624;
}

html {
    font-size: 62.5%;
}

body {
    font-family: 'Inter', sans-serif !important;
    font-size: 1.6rem;
    line-height: 1.5;
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    overflow-y: auto;
    // overflow-x: hidden;
    scrollbar-gutter: both-edges;
    scroll-behavior: smooth;
    position: relative;

    &::-webkit-scrollbar {
        border-radius: 0;
        width: 8px;
        }

    &::-webkit-scrollbar-thumb:hover {
        background-color: rgba(22, 24, 35, 0.693); /* Hiệu ứng di chuột đổi màu */
        cursor: pointer;
    }

    &::-webkit-scrollbar-thumb {
        border-radius: 4px;
        background-color: rgba(22, 24, 35, 0.43);
    }

    &::-webkit-scrollbar-track {
        border-radius: 0;
        background-color: rgba(0, 0, 0, 0);
    }
}

.fadeIn {
    animation: fade 1s ease-in forwards;

    @keyframes fade {
        from {
            opacity: 0;
        }
        to {
            opacity: 1;
        }
    }
}

// run dong
.pulse {
    animation: pulse 1s ease-in forwards;
}

@keyframes pulse {
    from {
        transform: scale(1.2);
        opacity: 0;
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}
