.wrap {
    background-color: var(--background-color);
    // padding: 400px 0 0 0;
    .container-post {
        padding: 0 0 0 0;
    }

    .content-post {
        padding: 40px 0 0 0;
    }

    .posts {
        height: 70vh;
        overflow: hidden;
        scroll-behavior: smooth;
        scrollbar-gutter: stable;
        transition: all 0.4s ease-in-out;

        background-color: var(--background-color);

        &:hover {
            overflow-y: scroll;
        }

        &::-webkit-scrollbar {
            border-radius: 0;
            width: 4px;
        }

        &::-webkit-scrollbar-thumb:hover {
            background-color: rgba(22, 24, 35, 0.312); /* Hiệu ứng di chuột đổi màu*/
            cursor: pointer;
        }

        &::-webkit-scrollbar-thumb {
            border-radius: 4px;
            background-color: rgba(22, 24, 35, 0.06);
        }

        &::-webkit-scrollbar-track {
            border-radius: 0;
            background-color: rgba(0, 0, 0, 0);
        }
    }

    .table {
        border-radius: 4px;
        padding-right: 20px;
    }

    .control-admin {
        box-shadow: 0 0.46875rem 2.1875rem rgb(4 9 20 / 3%), 0 0.9375rem 1.40625rem rgb(4 9 20 / 3%),
            0 0.25rem 0.53125rem rgb(4 9 20 / 5%), 0 0.125rem 0.1875rem rgb(4 9 20 / 3%);
        border-radius: 4px;
        background-color: #fff;
        border: 1px solid rgba(15, 15, 15, 0.121);
    }
    td {
        font-size: 14px;
        padding: 8px !important;
    }

    th {
        font-size: 14px;
        padding: 10px !important;
    }

    .title {
        border: 1px solid rgba(204, 204, 204, 0.797);

        font-size: 16px;
        color: var(--text-color);
        margin: 12px 0 20px 0;
        text-align: center;
        background-color: #fff;

        box-shadow: 0 0.06875rem 2.1875rem rgb(4 9 20 / 3%), 0 0.1375rem 1.40625rem rgb(4 9 20 / 3%);
        border-radius: 4px;
        border: 1px solid rgba(15, 15, 15, 0.121);
        margin: 0;
        padding: 16px;
        margin-bottom: 10px;
    }

    button {
        font-size: 14px !important;
        padding: 4px 16px !important;
    }
    .nav {
        padding: 4px 10px !important;
        a {
            font-size: 14px !important;
            padding: 10px 20px !important;
            text-align: right;
            transition: all 0.2s ease-in;
            &:hover {
                margin-right: 10px;
            }
        }
    }

    .border-link {
        position: relative;
        & + .border-link {
            &::after {
                display: block;
                content: '';
                position: absolute;
                bottom: 100%;
                left: 10%;
                width: 80%;
                height: 1px;
                border-top: 1px solid #ccc !important;
            }
        }
    }
}
