.wrap {
    background-color: var(--background-color);
    min-height: 100vh;
    .container-post {
    }

    .content-post {
        padding: 40px 0 0 0;
    }

    .submit-btn {
        text-align: right;
    }

    .wrap-form {
        .form {
            padding: 20px;
            width: 600px;

            label {
                font-size: 14px;
            }

            input {
                font-size: 14px;
                height: 60px;

                &:focus {
                    & ~ label {
                        font-size: 14px !important;
                    }
                }
            }

            textarea {
                height: auto;
                font-size: 14px;
                padding-top: 26px;

                &:focus {
                    & ~ label {
                        font-size: 14px !important;
                    }
                }
            }
        }
    }

    .control-admin {
        box-shadow: 0 0.46875rem 2.1875rem rgb(4 9 20 / 3%), 0 0.9375rem 1.40625rem rgb(4 9 20 / 3%),
            0 0.25rem 0.53125rem rgb(4 9 20 / 5%), 0 0.125rem 0.1875rem rgb(4 9 20 / 3%);
        border-radius: 4px;
        background-color: #fff;
        border: 1px solid rgba(15, 15, 15, 0.121);

        a {
            font-size: 14px !important;
        }
    }
    td {
        font-size: 14px;
        padding: 8px !important;
    }

    th {
        font-size: 14px;
        padding: 10px !important;
    }

    .title {
        font-size: 16px;
        color: var(--text-color);
        margin: 12px 0 20px 0;
        text-align: center;
        background-color: #fff;

        box-shadow: 0 0.46875rem 2.1875rem rgb(4 9 20 / 3%), 0 0.9375rem 1.40625rem rgb(4 9 20 / 3%),
            0 0.25rem 0.53125rem rgb(4 9 20 / 5%), 0 0.125rem 0.1875rem rgb(4 9 20 / 3%);
        border-radius: 4px;
        border: 1px solid rgba(15, 15, 15, 0.121);
        margin: 0;
        padding: 16px;
        margin-bottom: 10px;
    }

    button {
        font-size: 14px !important;
        padding: 4px 16px !important;
    }
    .nav {
        padding: 4px 10px !important;
        a {
            font-size: 14px !important;
            padding: 10px 20px !important;
            text-align: right;
            transition: all 0.2s ease-in;
            &:hover {
                margin-right: 10px;
            }
        }
    }

    .border-link {
        position: relative;
        & + .border-link {
            &::after {
                display: block;
                content: '';
                position: absolute;
                bottom: 100%;
                left: 10%;
                width: 80%;
                height: 1px;
                border-top: 1px solid #ccc !important;
            }
        }
    }
}
