.wrap {
    background-color: var(--background-color);

    height: 100vh;
    position: relative;

    .menu-control {
        padding: 48px 20px 20px 20px;
        font-size: 12px;
        a {
            padding: 0 4px;
            cursor: pointer;
            color: #383838;
            transition: all 0.2s linear;

            &:hover {
                color: rgb(73 94 255 / 77%);
            }
        }
    }

    .title {
        font-size: 18px;
        padding: 0 20px 20px 20px;
        font-weight: 600;
        text-align: center;
    }

    .no-req {
        text-align: center;
        font-size: 14px;
        color: #383838;
        margin-top: 60px;
    }

    .works {
        margin-top: 40px;

        .wrap-work {
            position: relative;
            .detail-work-req {
                font-size: 13;
                color: rgba(0, 0, 0, 0.5);
                cursor: pointer;
                position: absolute;
                right: 40px;
                bottom: 20px;
                transition: all 0.2s linear;

                &:hover {
                    color: rgba(0, 0, 0, 0.9);
                }
            }
        }
    }
}
