.wrap {
    --pri-text: #000000c4;
    .title {
        font-size: 22px;
        text-align: left;
        margin-top: 60px;
        padding-left: 26px;

        color: var(--pri-text);
        font-weight: 700;
    }
}
