.wrap {
    .header {
        height: 100vh;
        background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
            url('../../../assets/images/home-admin-slide1.jpg') center no-repeat;
        background-size: cover;

        .header-main {
            color: #fff;
            max-width: 600px;
            margin-top: 180px;

            h2 {
                font-size: 55px;
                line-height: 55px;
                font-weight: 800;
            }

            span {
                display: block;
                font-size: 16px;
                line-height: 22px;
                margin-top: 20px;
            }
        }
    }
    .main {
        margin-top: 40px;
        .wrap-main {
            padding-right: 24px;
            .paragrap-list {
                margin-top: 12px;
                color: var(--text-color);
                font-size: 14px;
                line-height: 18px;
            }
        }
    }
    .title {
        font-size: 30px;
        font-weight: 600;
        letter-spacing: 1px;
        color: rgb(68, 2, 99);
    }

    .paragrap {
        margin-top: 12px;
        margin-bottom: 24px;
        color: var(--text-color);
        font-size: 14px;
        line-height: 18px;
    }
}
