.wrap {
    --text-color-post: #fafafa;
    --ig-secondary-button: 38, 38, 38;
    --ig-separator: 38, 38, 38;
    --ig-secondary-text: 142, 142, 142;
    --ig-secondary-text2: 168, 168, 168;
    --ig-primary-text: #262626;
    width: 470px;
    color: var(--text-color-post);
    padding-bottom: 20px;
    margin-bottom: 12px;
    border-bottom: 1px solid rgb(var(--ig-separator));
    opacity: 0.2;
    transition: all 0.2s ease-out;

    &.isVisible {
        opacity: 1;
    }

    &:nth-child(2) {
        transition-delay: 0.2s;
    }
    &:nth-child(3) {
        transition-delay: 0.3s;
    }

    .header {
        display: flex;
        align-items: center;
        height: 56px;
        position: relative;

        .user {
            width: 28px;
            height: 28px;
            border: 1px solid rgb(75, 75, 255);
            border-radius: 50%;
            margin-right: 10px;
        }

        b {
            font-size: 14px;
            font-weight: 600;
            line-height: 18px;
            color: var(--text-color-post);
        }
        .dot {
            font-size: 14px;
            margin: 0 10px;
            color: var(--ig-secondary-text2);
        }

        .time {
            font-size: 14px;
            line-height: 18px;
            color: rgb(var(--ig-secondary-text));
        }
    }

    .header-light {
        b {
            color: rgb(var(--ig-secondary-button)) !important;
            background-color: transparent !important;
        }
        .dot {
            color: #8e8e8e !important;
        }

        .time {
            color: rgb(var(--ig-secondary-text));
        }
    }

    .main {
        width: 470px;
        height: 314px;
        position: relative;
        .image-up {
            width: 100%;
            height: 100%;
            border-radius: 8px;
            object-fit: contain;
            object-position: center;
        }

        &.img-dev {
            box-shadow: 0px 0 2px 1px #ffffff94;
            border-radius: 8px;
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
            background-color: rgba(0, 0, 0, 1);
        }
    }

    .footer {
        &.into-Img {
            position: absolute !important;
            top: 20px;
            left: 20px;
            right: 10px;
            overflow-y: auto;
            bottom: 10px;

            &::-webkit-scrollbar {
                width: 2px;
            }

            /* Track */
            &::-webkit-scrollbar-track {
                background: #dbd8d8;
            }

            /* Handle */
            &::-webkit-scrollbar-thumb {
                background: #26262679;
            }

            /* Handle on hover */
            &::-webkit-scrollbar-thumb:hover {
                background: #555;
            }

            .title {
                font-weight: 600;
                color: #080808 !important;
            }

            .desc {
                width: 80%;
                height: 100%;
                word-wrap: break-word;
                white-space: pre-wrap;
                .more {
                    color: #565656 !important;
                }
            }
        }
        .title {
            margin-top: 24px;
            margin-bottom: 10px;
            font-size: 14px;
            line-height: 18px;
            color: var(--text-color-post);
        }

        .desc {
            margin: 12px 0;
            font-size: 14px;
            // height: 90px;
            font-family: 'inter';
            line-height: 18px;
            color: var(--text-color-post);
            word-wrap: break-word;
            white-space: pre-wrap;
            .more {
                font-family: 'inter';
                font-size: 14px;
                color: #a8a8a8;
                cursor: pointer;
                margin: 0 4px;
            }
        }
    }

    .footer-light {
        .title {
            color: var(--ig-primary-text) !important;
        }

        .desc {
            color: var(--ig-primary-text) !important;

            .more {
                color: #8e8e8e !important;
            }
        }
    }
}
