.wrap {
    .map {
        display: block;
        max-height: 500px;
    }
    .title {
        font-size: 18px;
        color: #666666;
        text-align: center;
        margin: 24px 0 20px 0;
    }
}
