.wrap {
    position: fixed !important;
    top: 28px;
    right: 28px !important;
    font-size: 14px;
    min-width: 300px;
    z-index: 9999;

    strong {
        font-size: 12px !important;
    }

    .content {
        font-size: 12px;
    }
}
