.wrap {
    position: sticky;
    top: calc(20vh + 10px);
    right: 40px;
    font-size: 14px;

    strong {
        font-size: 12px !important;
    }

    .content {
        font-size: 12px;
    }
}
