.wrap {
    position: fixed !important;
    top: 28px;
    right: 28px !important;
    font-size: 14px;
    min-width: 300px;
    z-index: 9999;
    max-width: 320px;
    strong {
        font-size: 12px !important;
    }

    .content {
        font-size: 12px;
        font-weight: 500;
    }

    .toast {
        backdrop-filter: blur(20px);
        background-color: rgb(255 255 255 / 13%);
        transition: all 0.2s linear;

        .toast-header {
            font-weight: 700;
            color: #0a0a0abd;
        }
    }
}
